<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <meta name="viewport" content="initial-scale=1"/>

</head>


<body ng-app="myApp">

<div layout="column" ng-controller="ResultsCtrl">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu"
                         md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Image Classification</h1>
        </div>
    </md-toolbar>


    <md-content layout="column" layout-margin layout-fill layout-padding layout-align="center center">


        <div flex="10"></div>

        <h3 class="md-headline">Models</h3>

        <p class="md-body-2">Choose a model below to explore (non) state of the art results</p>


        <div layout="row">

            <md-select placeholder="Model" ng-model="activeModel" ng-change="modelChanged()">
                <md-option ng-repeat="model in models" ng-value="model">{{model.name}}</md-option>
            </md-select>
        </div>

        <p class="md-body-1">{{activeModel.description}}</p>

        <div ng-if="matrixValues">
            <div  flex>
                <d3-matrix data="matrixValues" labels="labels" on-click="d3OnClick(item)"></d3-matrix>

            </div>

            <div flex="10"></div>

            <div flex>
                <p> Results for image</p>


                <div layout="row" flex>
                    <md-card class="card" data-ng-repeat="item in images">
                        <img ng-src="{{item.url}}">
                    </md-card>
                </div>
            </div>


            <div flex>
                <p>Probabilities</p>

                <div>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in probabilities">
                            <div class="md-list-item-text">

                                <p><b>{{item.class}}</b>: {{ item.proba }}</p>
                            </div>
                        </md-list-item>

                    </md-list>
                </div>

            </div>
        </div>

        <div ng-if="!matrixValues">

            <p>No data is here for this model :(</p>
        </div>


    </md-content>

</div>


</div>


<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>


<script src="scripts/app.js"></script>
<script src="scripts/services/d3.js"></script>
<script src="scripts/controllers/demoCtrl.js"></script>
<script src="scripts/controllers/demoCtrl2.js"></script>
<script src="scripts/controllers/resultsCtrl.js"></script>

<script src="scripts/directives/d3Basic.js"></script>

<script src="scripts/directives/d3Matrix.js"></script>

</body>
</html>